/data*
/human_detection
/workspace/install
/workspace/build
/workspace/log
dl_car_control/*/*_data
dl_car_control/*/experiments*
dl_car_control/*/datasets*
*/__pycache__/
*/__pycache__*
*.onnx
*.pth
*.pyc
*.pyo
*.ckpt
*.txt
*.jpg
*.zip

.vscode/
local/
